{% extends 'admin_templates/admin.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Notification</th>




    </tr>
  </thead>
  <tbody>

  {% for i in  data %}
  <tr>
  <td>{{i.notification}}</td>

    <td>
          <form action= "{% url 'noti_dlt' i.id %}" method="post">
              {% csrf_token %}
          <button type="submit" class="btn btn-secondary">Delete</button>
          </form>

      <a href="{% url 'noti_update' i.id %} "><button class="btn btn-secondary">Update</button></a>
</td>
  </tr>

{% endfor %}
  </tbody>
  </table>
{% endblock %}