<!DOCTYPE html>
{% load static %}
{% load crispy_forms_filters %}


<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href=" {% static 'static2/images/icons/favicon.ico' %} "/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'static2/vendor/bootstrap/css/bootstrap.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'static2/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'static2/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'static2/vendor/animate/animate.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'static2/vendor/css-hamburgers/hamburgers.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'static2/vendor/animsition/css/animsition.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'static2/vendor/select2/select2.min.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'static2/vendor/daterangepicker/daterangepicker.css' %} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href=" {% static 'static2/css/util.css' %} ">
	<link rel="stylesheet" type="text/css" href=" {% static 'static2/css/main.css' %} ">
<!--===============================================================================================-->
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
             <h1 class="text-center display-4"></h1>
        </div>
        <div class="col-md-12">

                <form method="POST">
                  {% csrf_token %}
                  {{form|crispy}}



                  <div>
                  <input type="submit" class="btn btn-dark btn-block" value="submit"/>
                    </div>
                </form>

 </div>
    </div>
</div>
<script src=" {% static 'static2/vendor/jquery/jquery-3.2.1.min.js' %} "></script>
<!--===============================================================================================-->
	<script src=" {% static 'static2/vendor/animsition/js/animsition.min.js' %} "></script>
<!--===============================================================================================-->
	<script src=" {% static 'static2/vendor/bootstrap/js/popper.js' %} "></script>
	<script src=" {% static 'static2/vendor/bootstrap/js/bootstrap.min.js' %} "></script>
<!--===============================================================================================-->
	<script src=" {% static 'static2/vendor/select2/select2.min.js' %} "></script>
<!--===============================================================================================-->
	<script src=" {% static 'static2/vendor/daterangepicker/moment.min.js' %} "></script>
	<script src=" {% static 'static2/vendor/daterangepicker/daterangepicker.js' %} "></script>
<!--===============================================================================================-->
	<script src=" {% static 'static2/vendor/countdowntime/countdowntime.js' %} "></script>
<!--===============================================================================================-->
	<script src=" {% static 'static2/js/main.js' %} "></script>

</body>
</html>