{% extends 'panchayath_templates/panchayath.html' %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Qualification</th>
      <th scope="col">Experience</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>





    </tr>
  </thead>
  <tbody>

    {% for i in  status %}
  <tr>
  <td>{{i.user.name}}</td>
    <td>{{i.user.qualification}}</td>
    <td>{{i.user.experience}}</td>
        <td>{{i.user.email}}</td>
    <td>{{i.user.contact_no}}</td>


<td>
  <a href="{% url 'work' i.id%}">Create Work</a>
</td>
  </tr>

{% endfor %}
  </tbody>
  </table>
{% endblock %}