{% extends 'panchayath_templates/panchayath.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <table class="table">
  <thead>
    <tr>
        <th scope="col">Scheme</th>
      <th scope="col">Job Title</th>
      <th scope="col">Requirements</th>
      <th scope="col">Experience</th>
    </tr>
  </thead>
     <tbody >

     {% for i in data %}

     <tr >
        <td>{{i.scheme}}</td>
         <td>{{i.job_title}}</td>
         <td>{{i.requirements}}</td>
         <td>{{i.experience}}</td>
<tr>
     </tr>
     {% endfor %}
     </tbody>
 </table>
</body>
</html>
{% endblock %}