{% extends 'people_templates/people.html' %}
{% block content %}


        <h1>
            PROFILE
        </h1>
    {% for i in data %}
        <div>

        <h4>NAME : {{i.name}}</h4>
        <h4>PHONE :{{i.contact_no}}</h4>
        <h4>EMAIL:{{i.email}}</h4>
        <h4>ADDRESS :{{i.address}}</h4>
            <h4>QUALIFICATION :{{i.qualification}}</h4>
            <h4>AGE :{{i.age}}</h4>
            <h4>EXPERIENCE :{{i.experience}}</h4>

    </div>


      <div>

         <a href="{% url 'user_update' i.id %}">
             <button class="btn-btn" type="submit">Update</button>
         </a>

      </div>
{% endfor %}

{% endblock %}
